.logo{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 130px;
}

.empate-title{
    font-size: 40px;
    margin-left: 100px;
}

.body{
    display: flex;
    flex-direction: column;
    margin: 30px 20px 0 20px;
}

.body ion-button{
    margin-top: 50px;
}

.about-text-box{
    display: flex;
    margin-top: 30%;
    justify-content: center;
}

.logo-puce{
    height: 70px;
    width: 250px;
    margin-left: -5%;
}

.about-box {
    color: #000;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    padding: 20px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Asegura que el cuadro esté sobre otros elementos */
}

.titulos{
    font-weight: 900;
    font-size: 15px;
}

.about-container-box{
    margin-left: 5%;
}

.about-container-box .about-container-box-x-button{
    display: flex;
    justify-content: center;
    margin-left: -5%;
}
