.header{
    display: flex;
}

.icon_nuevoProyecto{
    font-size: 64px;
    color: white;
    margin-right: 40px;
    width: 150px;
    height: 45px;
}    
.lista-header{
 
    color:rgb(104, 48, 135);
}








