.body-map {
    --ion-background-color: #E8E6E6;
    padding-left: 100px;
}

.client-name{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 5px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    color: #000;
}

.client-name .descarga-icon{
    margin-top: 25px;
    margin-left: 235px;
    width: 20px;
    height: 20px;
    color: #000;
}

#client-name{
    text-align: center
}

#drag-icon{
    margin-top: 15px;
    margin-left: 10px;
    width: 25px;
    height: 30px;
    color:#b3b3b3;
}

.map-upper-lines{
    margin-top: 170px;
    position: relative;
}

.row-upper-line{
    border: 1px solid #000;
    width: 100%;
    transform: translateY(-50%) rotate(45deg);
}

.column-upper-line{
    border: 1px solid #000;
    width: 100%;
    transform: translateY(-50%) rotate(135deg);
}

.map-lower-lines{
    margin-top: 200px;
    position: relative;
}

.row-lower-line{
    border: 1px solid #000;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    transform: translateY(-50%) rotate(180deg);
}

.column-lower-line{
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 160px; 
    background-color: black;
}

.post-it {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px;
    min-width: 100px;
}
  
.post-it textarea {
    width: 100px;
    height: 100px;
    resize: none;
    border: none;
    background-color: transparent;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    overflow: scroll;
}

.save-client {
    color: #000;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 300px;
    padding: 20px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Asegura que el cuadro esté sobre otros elementos */
}

.save-client-box{
    margin-left: 5%;
}

.save-client-box .save-button{
    margin-right: 5%;
}
  